
#navbar{
    background:linear-gradient(45deg,green,black);
}
body{
    background: linear-gradient(to top, black, #5ef63c);
    background-size: cover;
    background-repeat: no-repeat;       
}
#word {
    margin: auto;
    color: white;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  }