.form-container {
    border: 2px solid black;
    width: 80%;
    margin: 5% 10%;
    display: flex;
    
}

.form-left {
    margin:5%;
    padding: 30px;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid black;
}

.form-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin:5%;
}
.input{
    width: 70%;
}
.h3-text{
    text-align: center;
}